.Grey {
  color: #25242B;
}

.Orange {
  color: #F45717;
}

.Red {
  color: #C4153A;
}

.Purple {
  color: #461C93;
}

.Blue {
  color: #2069B1;
}

.Green {
  color: #1F5117;
}

.Brown {
  color: #742407;
}

