body{
	color: #545454;
}
a{
	color: #323232;
	
}
#sidebar{
	border-left: black solid 10px;
}
#container .post{
	border-left: black solid 3px;
}
.post h2{
	background-color: black;
	
}
.post h2 a{
	color: white;
}
img#header-img{
	border: none;
	border-top: solid black 7px ;
	
}
