.Grey, body {/*Defines off black/blue/grey colour for all type.*/
  color: #25242B;
 background: #25242B;
}
.Orange {
  color: #F45717;
}

.Red {
  color: #C4153A;
}

.Purple {
  color: #461C93;
}

.Blue {
  color: #2069B1;
}

.Green {
  color: #1F5117;
}

.Brown {
  color: #742407;
}

#header{
	background: #25242B;
	color: #2069B1;
}
h1 a, h2 a, #header a{
	color: #C4153A;
}
a{
	color: #F45717;
}
.wrapper,#footer{
	background: white;
}
#header{
	background: #25242B;
}