.White {
  color: #FFFFFF;
}

.Deep Grey {
  color: #231F20;
}

.Gold {
  color: #FBBF13;
}

.Light Brown {
  color: #CE8F2A;
}

.Red Brown {
  color: #D47028;
}

.Orange Skin {
  color: #E15E1F;
}

.Light Orange {
  color: #F0861E;
}

.Red {
  color: #ED1C24;
}

.Pink {
  color: #EE3D96;
}

.Purple {
  color: #782386;
}

.Blue {
  color: #645FAA;
}

