/*
* Video
*/
.video{
	width: 300px;
}
.video p{
	margin-top: 12px;text-align: justify; text-justify: newspaper;color: #555;font-size: 11px;
	
}
.video a{
	font-size: 11px;
}
#sidebar{
	overflow: hidden;
}
img.loader{
	
	border: none;
	position: absolute;
	display: none;
	top: 230px;
	left: 680px;

	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}
img, #sidebar iframe{
	border: 3px solid black;
	-moz-box-shadow: -2px 2px 8px gray;
	-webkit-box-shadow: -2px 2px 8px gray;
}
p.video-nav{
	margin: 0;
}